:root{
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-menu-bottom: #ffe28c;
    --color-separate: #cccccc;
    --color-input-out: #ececec;
    --color-background: #fffdf7;
    --color-primary: #ffbf00;
    --color-primary-out: #ffda6f;
    --color-secondary: #fff2cc;
    --color-black: #212121;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
}