html, body{
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    margin: 0;
    background: var(--color-background);
    color: var(--color-text);
    font-size: 1rem;
}
a{
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}

b{
    font-family: 'PoppinsMedium';
}

.hidden{
    display: none !important;
}

.pr-0{
    padding-right: 0px !important;
}